In [3]:
import pandas as pd

In [9]:
variable_respuesta = pd.read_csv("estat_lfsq_pganws/estat_lfsq_pganws.tsv",  delimiter=',')

In [10]:
variable_respuesta # no se ve bien

,freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD\t1998-Q1 \t1998-Q2 \t1998-Q3 \t1998-Q4 \t1999-Q1 \t1999-Q2 \t1999-Q3 \t1999-Q4 \t2000-Q1 \t2000-Q2 \t2000-Q3 \t2000-Q4 \t2001-Q1 \t2001-Q2 \t2001-Q3 \t2001-Q4 \t2002-Q1 \t2002-Q2 \t2002-Q3 \t2002-Q4 \t2003-Q1 \t2003-Q2 \t2003-Q3 \t2003-Q4 \t2004-Q1 \t2004-Q2 \t2004-Q3 \t2004-Q4 \t2005-Q1 \t2005-Q2 \t2005-Q3 \t2005-Q4 \t2006-Q1 \t2006-Q2 \t2006-Q3 \t2006-Q4 \t2007-Q1 \t2007-Q2 \t2007-Q3 \t2007-Q4 \t2008-Q1 \t2008-Q2 \t2008-Q3 \t2008-Q4 \t2009-Q1 \t2009-Q2 \t2009-Q3 \t2009-Q4 \t2010-Q1 \t2010-Q2 \t2010-Q3 \t2010-Q4 \t2011-Q1 \t2011-Q2 \t2011-Q3 \t2011-Q4 \t2012-Q1 \t2012-Q2 \t2012-Q3 \t2012-Q4 \t2013-Q1 \t2013-Q2 \t2013-Q3 \t2013-Q4 \t2014-Q1 \t2014-Q2 \t2014-Q3 \t2014-Q4 \t2015-Q1 \t2015-Q2 \t2015-Q3 \t2015-Q4 \t2016-Q1 \t2016-Q2 \t2016-Q3 \t2016-Q4 \t2017-Q1 \t2017-Q2 \t2017-Q3 \t2017-Q4 \t2018-Q1 \t2018-Q2 \t2018-Q3 \t2018-Q4 \t2019-Q1 \t2019-Q2 \t2019-Q3 \t2019-Q4 \t2020-Q1 \t2020-Q2 \t2020-Q3 \t2020-Q4 \t2021-Q1 \t2021-Q2 \t2021-Q3 \t2021-Q4 \t2022-Q1 \t2022-Q2 \t2022-Q3 \t2022-Q4 \t2023-Q1 \t2023-Q2 \t2023-Q3 \t2023-Q4
0,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT\t: u\t: \t: \t: \t: u\t: \t: \t: \t: u\t: u...
1,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,BE\t: \t: u\t: \t: \t: \t: u\t: u\t: u\t: u\t:...
2,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CH\t: \t15.3 \t: \t: \t: \t15.7 \t: \t: \t: \t...
3,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CY\t: \t: \t: \t: \t: \t: u\t: \t: \t: \t: u\t...
4,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CZ\t: u\t: u\t: u\t: u\t: u\t: u\t: u\t: u\t: ...
...,...,...,...,...,...,...,...
114929,Q,THS_PER,T,TOTAL,Y_GE75,POP,SI\t: \t88.6 \t: \t: \t99.1 \t96.5 \t93.7 \t88...
114930,Q,THS_PER,T,TOTAL,Y_GE75,POP,SK\t217.4 \t217.4 \t217.4 \t217.4 \t227.3 b\t2...
114931,Q,THS_PER,T,TOTAL,Y_GE75,POP,TR\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
114932,Q,THS_PER,T,TOTAL,Y_GE75,POP,UK\t: \t3900.2 \t: \t: \t: \t3955.3 \t3965.4 \...
114933,Q,THS_PER,T,TOTAL,Y_GE75,UNK,CY\t: \t: \t: \t: \t: \t28.0 \t: \t: \t: \t: \...

In [11]:
variable_respuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114934 entries, 0 to 114933
Data columns (total 7 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   --------------   -----
 0   freq                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     114934 non-null  object
 1   unit                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     114934 non-null  object
 2   sex                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      114934 non-null  object
 3   citizen                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  114934 non-null  object
 4   age                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      114934 non-null  object
 5   wstatus                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  114934 non-null  object
 6   geo\TIME_PERIOD	1998-Q1 	1998-Q2 	1998-Q3 	1998-Q4 	1999-Q1 	1999-Q2 	1999-Q3 	1999-Q4 	2000-Q1 	2000-Q2 	2000-Q3 	2000-Q4 	2001-Q1 	2001-Q2 	2001-Q3 	2001-Q4 	2002-Q1 	2002-Q2 	2002-Q3 	2002-Q4 	2003-Q1 	2003-Q2 	2003-Q3 	2003-Q4 	2004-Q1 	2004-Q2 	2004-Q3 	2004-Q4 	2005-Q1 	2005-Q2 	2005-Q3 	2005-Q4 	2006-Q1 	2006-Q2 	2006-Q3 	2006-Q4 	2007-Q1 	2007-Q2 	2007-Q3 	2007-Q4 	2008-Q1 	2008-Q2 	2008-Q3 	2008-Q4 	2009-Q1 	2009-Q2 	2009-Q3 	2009-Q4 	2010-Q1 	2010-Q2 	2010-Q3 	2010-Q4 	2011-Q1 	2011-Q2 	2011-Q3 	2011-Q4 	2012-Q1 	2012-Q2 	2012-Q3 	2012-Q4 	2013-Q1 	2013-Q2 	2013-Q3 	2013-Q4 	2014-Q1 	2014-Q2 	2014-Q3 	2014-Q4 	2015-Q1 	2015-Q2 	2015-Q3 	2015-Q4 	2016-Q1 	2016-Q2 	2016-Q3 	2016-Q4 	2017-Q1 	2017-Q2 	2017-Q3 	2017-Q4 	2018-Q1 	2018-Q2 	2018-Q3 	2018-Q4 	2019-Q1 	2019-Q2 	2019-Q3 	2019-Q4 	2020-Q1 	2020-Q2 	2020-Q3 	2020-Q4 	2021-Q1 	2021-Q2 	2021-Q3 	2021-Q4 	2022-Q1 	2022-Q2 	2022-Q3 	2022-Q4 	2023-Q1 	2023-Q2 	2023-Q3 	2023-Q4   114934 non-null  object
dtypes: object(7)
memory usage: 6.1+ MB

In [12]:
variable_respuesta.columns

Index(['freq', 'unit', 'sex', 'citizen', 'age', 'wstatus',
       'geo\TIME_PERIOD\t1998-Q1 \t1998-Q2 \t1998-Q3 \t1998-Q4 \t1999-Q1 \t1999-Q2 \t1999-Q3 \t1999-Q4 \t2000-Q1 \t2000-Q2 \t2000-Q3 \t2000-Q4 \t2001-Q1 \t2001-Q2 \t2001-Q3 \t2001-Q4 \t2002-Q1 \t2002-Q2 \t2002-Q3 \t2002-Q4 \t2003-Q1 \t2003-Q2 \t2003-Q3 \t2003-Q4 \t2004-Q1 \t2004-Q2 \t2004-Q3 \t2004-Q4 \t2005-Q1 \t2005-Q2 \t2005-Q3 \t2005-Q4 \t2006-Q1 \t2006-Q2 \t2006-Q3 \t2006-Q4 \t2007-Q1 \t2007-Q2 \t2007-Q3 \t2007-Q4 \t2008-Q1 \t2008-Q2 \t2008-Q3 \t2008-Q4 \t2009-Q1 \t2009-Q2 \t2009-Q3 \t2009-Q4 \t2010-Q1 \t2010-Q2 \t2010-Q3 \t2010-Q4 \t2011-Q1 \t2011-Q2 \t2011-Q3 \t2011-Q4 \t2012-Q1 \t2012-Q2 \t2012-Q3 \t2012-Q4 \t2013-Q1 \t2013-Q2 \t2013-Q3 \t2013-Q4 \t2014-Q1 \t2014-Q2 \t2014-Q3 \t2014-Q4 \t2015-Q1 \t2015-Q2 \t2015-Q3 \t2015-Q4 \t2016-Q1 \t2016-Q2 \t2016-Q3 \t2016-Q4 \t2017-Q1 \t2017-Q2 \t2017-Q3 \t2017-Q4 \t2018-Q1 \t2018-Q2 \t2018-Q3 \t2018-Q4 \t2019-Q1 \t2019-Q2 \t2019-Q3 \t2019-Q4 \t2020-Q1 \t2020-Q2 \t2020-Q3 \t2020-Q4 \t2021-Q1 \t2021-Q2 \t2021-Q3 \t2021-Q4 \t2022-Q1 \t2022-Q2 \t2022-Q3 \t2022-Q4 \t2023-Q1 \t2023-Q2 \t2023-Q3 \t2023-Q4 '],
      dtype='object')

In [14]:
# Tenemos en la primera columna un dataframe completo, vamos a sacarlo
variable_respuesta = pd.read_csv("estat_lfsq_pganws/estat_lfsq_pganws.tsv", sep='\t', skiprows=[0])

split_column = variable_respuesta.iloc[:, 0].str.split(',', expand=True) # Dividir la primera columna en múltiples columnas
new_dataframe = pd.DataFrame()
for column in split_column.columns: # Agregar cada parte de la columna dividida al nuevo DataFrame
    new_dataframe[column] = split_column[column]

# Y RENOMBRAMOS
new_dataframe.columns = ['freq', 'unit', 'sex', 'citizen', 'age', 'wstatus', 'geo'] + list(new_dataframe.columns[7:])

In [15]:
new_dataframe.citizen.value_counts()

TOTAL             18222
NAT               17744
FOR               17520
NEU27_2020_FOR    17393
EU27_2020_FOR     17167
NRP               14593
STLS              12294
Name: citizen, dtype: int64

In [16]:
new_dataframe.info() # y ahora, hay que unirlos con el primer dataframe, PERO HAY QUE TENER CUIDADO CON LAS FECHAS Y LOS PERIODOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114933 entries, 0 to 114932
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   freq     114933 non-null  object
 1   unit     114933 non-null  object
 2   sex      114933 non-null  object
 3   citizen  114933 non-null  object
 4   age      114933 non-null  object
 5   wstatus  114933 non-null  object
 6   geo      114933 non-null  object
dtypes: object(7)
memory usage: 6.1+ MB

In [17]:
# Necesitamos solo las columnas ,sex,citizen,age,wstatus y el tiempo, claro.
new_dataframe.sex.value_counts() # QUE SERA T? NO PUEDEN SER TODOS

T    38755
M    38176
F    38002
Name: sex, dtype: int64

In [18]:
new_dataframe.wstatus.value_counts()

POP     23746
INAC    23401
ACT     23107
EMP     23041
UNE     21163
UNK       475
Name: wstatus, dtype: int64

QUE SIGNIFICA CADA UNO
POP: Población total. Esta categoría probablemente representa el número total de personas en el conjunto de datos, independientemente de su estado laboral.

INAC: Inactivos. Esta categoría podría representar a personas que no están empleadas ni buscando empleo activamente en el momento de la recopilación de datos. Esto puede incluir a personas jubiladas, estudiantes a tiempo completo, personas que cuidan del hogar, etc.

ACT: Activos. Esta categoría probablemente representa a las personas que están empleadas o que están buscando activamente empleo en el momento de la recopilación de datos. Es decir, personas en la fuerza laboral activa.

EMP: Empleados. Esta categoría puede referirse específicamente a las personas que están empleadas en el momento de la recopilación de datos.

UNE: Desempleados. Esta categoría probablemente representa a las personas que están desempleadas y que están buscando activamente empleo en el momento de la recopilación de datos.

UNK: Desconocido. Esta categoría puede ser utilizada para personas cuyo estado laboral no pudo ser determinado o no está disponible en el conjunto de datos.

In [19]:
# intentamos descargarnos los datos con la API
!pip install eurostat
import eurostat
# probamos pyeurostat y PYROSTAT pero no funciona

Collecting eurostat
  Downloading eurostat-1.1.0-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: pandas in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from eurostat) (1.5.2)
Requirement already satisfied: requests in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from eurostat) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pandas->eurostat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pandas->eurostat) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pandas->eurostat) (1.26.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests->eurostat) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests->eurostat) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests->eurostat) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests->eurostat) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas->eurostat) (1.16.0)
Downloading eurostat-1.1.0-py3-none-any.whl (15 kB)
Installing collected packages: eurostat
Successfully installed eurostat-1.1.0

WARNING: Error parsing requirements for jupyter-core: [Errno 2] No such file or directory: 'c:\\users\\1thea\\appdata\\roaming\\python\\python310\\site-packages\\jupyter_core-4.11.1.dist-info\\METADATA'

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
3# y hacemos la consulta
data = eurostat.get_data_df('lfsq_pganws')
data

,freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD,1998-Q1,1998-Q2,1998-Q3,...,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4
0,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,NaN,NaN,NaN,...,4.9,4.8,4.8,6.1,6.0,6.0,5.1,6.1,5.1,6.1
1,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,BE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CH,NaN,15.3,NaN,...,11.2,10.9,8.3,10.2,10.3,11.6,10.7,11.2,13.1,13.0
3,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CY,NaN,NaN,NaN,...,1.1,NaN,NaN,NaN,NaN,NaN,NaN,0.8,0.7,1.1
4,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CZ,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114929,Q,THS_PER,T,TOTAL,Y_GE75,POP,SI,NaN,88.6,NaN,...,168.7,166.3,167.0,170.7,171.7,169.2,171.6,173.9,177.9,178.5
114930,Q,THS_PER,T,TOTAL,Y_GE75,POP,SK,217.4,217.4,217.4,...,326.4,326.3,323.6,323.6,323.6,323.6,334.9,334.9,334.9,334.9
114931,Q,THS_PER,T,TOTAL,Y_GE75,POP,TR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114932,Q,THS_PER,T,TOTAL,Y_GE75,POP,UK,NaN,3900.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114933,Q,THS_PER,T,TOTAL,Y_GE75,UNK,CY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114934 entries, 0 to 114933
Columns: 111 entries, freq to 2023-Q4
dtypes: float64(104), object(7)
memory usage: 97.3+ MB

In [26]:
data.columns.to_list()

['freq',
 'unit',
 'sex',
 'citizen',
 'age',
 'wstatus',
 'geo\\TIME_PERIOD',
 '1998-Q1',
 '1998-Q2',
 '1998-Q3',
 '1998-Q4',
 '1999-Q1',
 '1999-Q2',
 '1999-Q3',
 '1999-Q4',
 '2000-Q1',
 '2000-Q2',
 '2000-Q3',
 '2000-Q4',
 '2001-Q1',
 '2001-Q2',
 '2001-Q3',
 '2001-Q4',
 '2002-Q1',
 '2002-Q2',
 '2002-Q3',
 '2002-Q4',
 '2003-Q1',
 '2003-Q2',
 '2003-Q3',
 '2003-Q4',
 '2004-Q1',
 '2004-Q2',
 '2004-Q3',
 '2004-Q4',
 '2005-Q1',
 '2005-Q2',
 '2005-Q3',
 '2005-Q4',
 '2006-Q1',
 '2006-Q2',
 '2006-Q3',
 '2006-Q4',
 '2007-Q1',
 '2007-Q2',
 '2007-Q3',
 '2007-Q4',
 '2008-Q1',
 '2008-Q2',
 '2008-Q3',
 '2008-Q4',
 '2009-Q1',
 '2009-Q2',
 '2009-Q3',
 '2009-Q4',
 '2010-Q1',
 '2010-Q2',
 '2010-Q3',
 '2010-Q4',
 '2011-Q1',
 '2011-Q2',
 '2011-Q3',
 '2011-Q4',
 '2012-Q1',
 '2012-Q2',
 '2012-Q3',
 '2012-Q4',
 '2013-Q1',
 '2013-Q2',
 '2013-Q3',
 '2013-Q4',
 '2014-Q1',
 '2014-Q2',
 '2014-Q3',
 '2014-Q4',
 '2015-Q1',
 '2015-Q2',
 '2015-Q3',
 '2015-Q4',
 '2016-Q1',
 '2016-Q2',
 '2016-Q3',
 '2016-Q4',
 '2017-Q1',
 '2017-Q2',
 '2017-Q3',
 '2017-Q4',
 '2018-Q1',
 '2018-Q2',
 '2018-Q3',
 '2018-Q4',
 '2019-Q1',
 '2019-Q2',
 '2019-Q3',
 '2019-Q4',
 '2020-Q1',
 '2020-Q2',
 '2020-Q3',
 '2020-Q4',
 '2021-Q1',
 '2021-Q2',
 '2021-Q3',
 '2021-Q4',
 '2022-Q1',
 '2022-Q2',
 '2022-Q3',
 '2022-Q4',
 '2023-Q1',
 '2023-Q2',
 '2023-Q3',
 '2023-Q4']

In [28]:
unique_values = data['age'].unique()
print(unique_values)

['Y15-19' 'Y15-24' 'Y15-39' 'Y15-59' 'Y15-64' 'Y15-74' 'Y20-24' 'Y20-64'
 'Y25-29' 'Y25-49' 'Y25-54' 'Y25-59' 'Y25-64' 'Y30-34' 'Y35-39' 'Y40-44'
 'Y40-59' 'Y40-64' 'Y45-49' 'Y50-54' 'Y50-59' 'Y50-64' 'Y55-59' 'Y55-64'
 'Y60-64' 'Y65-69' 'Y70-74' 'Y_GE15' 'Y_GE25' 'Y_GE50' 'Y_GE65' 'Y_GE75']

In [29]:
unique_values2 = data['geo\TIME_PERIOD'].unique()
print(unique_values2)
##38

['AT' 'BE' 'CH' 'CY' 'CZ' 'DE' 'DK' 'EA20' 'EE' 'EL' 'ES' 'EU27_2020' 'FI'
 'FR' 'HR' 'HU' 'IE' 'IS' 'IT' 'LU' 'ME' 'MT' 'NL' 'NO' 'PL' 'PT' 'RS'
 'SE' 'SI' 'SK' 'UK' 'BA' 'BG' 'LT' 'LV' 'MK' 'RO' 'TR']

In [ ]:



"""AL - Albania
AD - Andorra
AM - Armenia
AT - Austria
AZ - Azerbaijan
BY - Belarus
BE - Belgium
BA - Bosnia and Herzegovina
BG - Bulgaria
HR - Croatia
CY - Cyprus
CZ - Czech Republic
DK - Denmark
EE - Estonia
FI - Finland
FR - France
GE - Georgia
DE - Germany
GR - Greece
HU - Hungary
IS - Iceland
IE - Ireland
IT - Italy
LV - Latvia
LI - Liechtenstein
LT - Lithuania
LU - Luxembourg
MT - Malta
MD - Moldova
MC - Monaco
ME - Montenegro
NL - Netherlands
NO - Norway
PL - Poland
PT - Portugal
RO - Romania
RU - Russia
SM - San Marino
RS - Serbia
SK - Slovakia
SI - Slovenia
ES - Spain
SE - Sweden
CH - Switzerland
TR - Turkey
UA - Ukraine
GB - United Kingdom
VA - Vatican City"""

# 

"""AT: Austria
BE: Belgium
CH: Switzerland
CY: Cyprus
CZ: Czech Republic
DE: Germany
DK: Denmark
EA20: Euro Area (European Union Member States)
EE: Estonia
EL: Greece
ES: Spain
EU27_2020: European Union (27 Member States as of 2020)
FI: Finland
FR: France
HR: Croatia
HU: Hungary
IE: Ireland
IS: Iceland
IT: Italy
LU: Luxembourg
ME: Montenegro
MT: Malta
NL: Netherlands
NO: Norway
PL: Poland
PT: Portugal
RS: Serbia
SE: Sweden
SI: Slovenia
SK: Slovakia
UK: United Kingdom (although this may vary based on context)
BA: Bosnia and Herzegovina
BG: Bulgaria
LT: Lithuania
LV: Latvia
MK: North Macedonia
RO: Romania
TR: Turkey"""

In [30]:
unique_values3 = data['citizen'].unique()
print(unique_values3)

['EU27_2020_FOR' 'FOR' 'NAT' 'NEU27_2020_FOR' 'NRP' 'STLS' 'TOTAL']

In [31]:
unique_values4 = data['wstatus'].unique()
print(unique_values4)

['ACT' 'EMP' 'INAC' 'POP' 'UNE' 'UNK']

In [32]:
unique_values4 = data['sex'].unique()
print(unique_values4)

['F' 'M' 'T']

In [35]:
# Y LUEGO CON UNA CONSULTA JSON (revisar, puede ser necesario, aunque no para eurostat, revisar ejercicio consultas api)
import requests
import pandas as pd

base_url = 'https://ec.europa.eu/eurostat/web/main/search/-/search/estatsearchportlet_WAR_estatsearchportlet_INSTANCE_bHVzuvn1SZ8J?text=lfsq_pganws'
dataset_code = 'lfsq_pganws'

# Construir la URL de la consulta (con el codigo inicial y luego el del dataset, aunque no funciona muy bien, revisar)
url = f'{base_url}/{dataset_code}'

# Solicitud GET a la API de Eurostat, COMO EN EL DE STAR WARS, REVISAR DIFERENCIA A LA HORA DE MONTAR LA URL!!
response = requests.get(url)
df = pd.DataFrame(data)
print(df.head())

  freq     unit sex        citizen     age wstatus geo\TIME_PERIOD  1998-Q1  \
0    Q  THS_PER   F  EU27_2020_FOR  Y15-19     ACT              AT      NaN
1    Q  THS_PER   F  EU27_2020_FOR  Y15-19     ACT              BE      NaN
2    Q  THS_PER   F  EU27_2020_FOR  Y15-19     ACT              CH      NaN
3    Q  THS_PER   F  EU27_2020_FOR  Y15-19     ACT              CY      NaN
4    Q  THS_PER   F  EU27_2020_FOR  Y15-19     ACT              CZ      NaN

   1998-Q2  1998-Q3  ...  2021-Q3  2021-Q4  2022-Q1  2022-Q2  2022-Q3  \
0      NaN      NaN  ...      4.9      4.8      4.8      6.1      6.0
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2     15.3      NaN  ...     11.2     10.9      8.3     10.2     10.3
3      NaN      NaN  ...      1.1      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2022-Q4  2023-Q1  2023-Q2  2023-Q3  2023-Q4
0      6.0      5.1      6.1      5.1      6.1
1      NaN      NaN      NaN      NaN      NaN
2     11.6     10.7     11.2     13.1     13.0
3      NaN      NaN      0.8      0.7      1.1
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 111 columns]

In [ ]:
#mappiung 
# for columns  sex   we can eliminate T bcs we dont need iT and also in age  ...

"""=https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/lfsq_pganws/1.0/*.*.*.*.*.*.*?c[freq]=Q&c
[unit]=THS_PER&c
[sex]=M,F&c
[citizen]=TOTAL,EU27_2020_FOR,NEU27_2020_FOR,FOR,NAT,STLS,NRP&c
[age]=Y15-64,Y15-19,Y15-24,Y15-39,Y15-59,Y15-74,Y_GE15,Y20-24,Y20-64,Y25-29,Y25-49,Y25-54,Y25-59,Y25-64,Y_GE25,Y30-34,Y35-39,Y40-44,Y40-59,Y40-64,Y45-49,Y50-54,Y50-59,Y50-64,Y_GE50,Y55-64,Y65-69,Y70-74,Y_GE75&c
[wstatus]=EMP,POP,ACT,UNE,INAC,UNK&c[geo]=EU27_2020,EA20,BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,IS,NO,CH,UK,BA,ME,MK,RS,TR&compress=true&format=csvdata&formatVersion=2.0&c
[time]=2023-Q4,2023-Q3,2023-Q2,2023-Q1,2022-Q4,2022-Q3,2022-Q2,2022-Q1,2021-Q4,2021-Q3


"""

In [36]:
!pip install pytrends

Collecting pytrends

WARNING: Error parsing requirements for jupyter-core: [Errno 2] No such file or directory: 'c:\\users\\1thea\\appdata\\roaming\\python\\python310\\site-packages\\jupyter_core-4.11.1.dist-info\\METADATA'

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading pytrends-4.9.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: requests>=2.0 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pytrends) (2.31.0)
Requirement already satisfied: pandas>=0.25 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pytrends) (1.5.2)
Collecting lxml (from pytrends)
  Downloading lxml-5.1.0-cp310-cp310-win_amd64.whl.metadata (3.6 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->pytrends) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->pytrends) (1.26.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.0->pytrends) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.0->pytrends) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.0->pytrends) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.0->pytrends) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\1thea\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25->pytrends) (1.16.0)
Downloading pytrends-4.9.2-py3-none-any.whl (15 kB)
Downloading lxml-5.1.0-cp310-cp310-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   -- ------------------------------------- 0.2/3.9 MB 13.0 MB/s eta 0:00:01
   ----- ---------------------------------- 0.5/3.9 MB 8.1 MB/s eta 0:00:01
   -------- ------------------------------- 0.8/3.9 MB 6.6 MB/s eta 0:00:01
   -------------- ------------------------- 1.5/3.9 MB 9.3 MB/s eta 0:00:01
   -------------------- ------------------- 2.0/3.9 MB 9.7 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.9 MB 10.2 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.9 MB 9.9 MB/s eta 0:00:01
   ----------------------------------- ---- 3.5/3.9 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 10.0 MB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 9.6 MB/s eta 0:00:00
Installing collected packages: lxml, pytrends
Successfully installed lxml-5.1.0 pytrends-4.9.2

In [37]:
from pytrends.request import TrendReq 
import matplotlib.pyplot as plt 
Trending_topics = TrendReq(hl='en-US', tz=360)