In [3]:
import pandas as pd

In [23]:
variable_respuesta = pd.read_csv("estat_lfsq_pganws.tsv", sep="\t")

In [25]:
variable_respuesta # no se ve bien

,"freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD",1998-Q1,1998-Q2,1998-Q3,1998-Q4,1999-Q1,1999-Q2,1999-Q3,1999-Q4,2000-Q1,...,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4
0,"Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT",: u,:,:,:,: u,:,:,:,: u,...,4.9 u,4.8 u,4.8 u,6.1 u,6.0 u,6.0 u,5.1 u,6.1 u,5.1 u,6.1 u
1,"Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,BE",:,: u,:,:,:,: u,: u,: u,: u,...,: u,: u,: u,: u,: u,: u,: u,: u,: u,: u
2,"Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CH",:,15.3,:,:,:,15.7,:,:,:,...,11.2,10.9,8.3 u,10.2,10.3,11.6,10.7,11.2,13.1,13.0
3,"Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CY",:,:,:,:,:,: u,:,:,:,...,1.1 u,: u,:,: u,: u,: u,: u,0.8 u,0.7 u,1.1 u
4,"Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CZ",: u,: u,: u,: u,: u,: u,: u,: u,:,...,:,: u,: u,: u,: u,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114929,"Q,THS_PER,T,TOTAL,Y_GE75,POP,SI",:,88.6,:,:,99.1,96.5,93.7,88.4,101.4,...,168.7,166.3,167.0,170.7,171.7,169.2,171.6,173.9,177.9,178.5
114930,"Q,THS_PER,T,TOTAL,Y_GE75,POP,SK",217.4,217.4,217.4,217.4,227.3 b,227.5,227.6,227.3,235.0,...,326.4,326.3,323.6,323.6,323.6,323.6,334.9,334.9,334.9,334.9
114931,"Q,THS_PER,T,TOTAL,Y_GE75,POP,TR",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
114932,"Q,THS_PER,T,TOTAL,Y_GE75,POP,UK",:,3900.2,:,:,:,3955.3,3965.4,3974.9,3983.4,...,:,:,:,:,:,:,:,:,:,:
114933,"Q,THS_PER,T,TOTAL,Y_GE75,UNK,CY",:,:,:,:,:,28.0,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [26]:
variable_respuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114934 entries, 0 to 114933
Columns: 105 entries, freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD to 2023-Q4
dtypes: object(105)
memory usage: 92.1+ MB

In [27]:
variable_respuesta.columns

Index(['freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD', '1998-Q1 ',
       '1998-Q2 ', '1998-Q3 ', '1998-Q4 ', '1999-Q1 ', '1999-Q2 ', '1999-Q3 ',
       '1999-Q4 ', '2000-Q1 ',
       ...
       '2021-Q3 ', '2021-Q4 ', '2022-Q1 ', '2022-Q2 ', '2022-Q3 ', '2022-Q4 ',
       '2023-Q1 ', '2023-Q2 ', '2023-Q3 ', '2023-Q4 '],
      dtype='object', length=105)

In [28]:
# Tenemos en la primera columna un dataframe completo, vamos a sacarlo
variable_respuesta = pd.read_csv("estat_lfsq_pganws.tsv", sep='\t', skiprows=[0])

split_column = variable_respuesta.iloc[:, 0].str.split(',', expand=True) # Dividir la primera columna en múltiples columnas
new_dataframe = pd.DataFrame()
for column in split_column.columns: # Agregar cada parte de la columna dividida al nuevo DataFrame
    new_dataframe[column] = split_column[column]

# Y RENOMBRAMOS
new_dataframe.columns = ['freq', 'unit', 'sex', 'citizen', 'age', 'wstatus', 'geo'] + list(new_dataframe.columns[7:])

In [29]:
new_dataframe.citizen.value_counts()

TOTAL             18222
NAT               17744
FOR               17520
NEU27_2020_FOR    17393
EU27_2020_FOR     17167
NRP               14593
STLS              12294
Name: citizen, dtype: int64

In [30]:
new_dataframe.info() # y ahora, hay que unirlos con el primer dataframe, PERO HAY QUE TENER CUIDADO CON LAS FECHAS Y LOS PERIODOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114933 entries, 0 to 114932
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   freq     114933 non-null  object
 1   unit     114933 non-null  object
 2   sex      114933 non-null  object
 3   citizen  114933 non-null  object
 4   age      114933 non-null  object
 5   wstatus  114933 non-null  object
 6   geo      114933 non-null  object
dtypes: object(7)
memory usage: 6.1+ MB

In [31]:
# Necesitamos solo las columnas ,sex,citizen,age,wstatus y el tiempo, claro.
new_dataframe.sex.value_counts() # QUE SERA T? NO PUEDEN SER TODOS

T    38755
M    38176
F    38002
Name: sex, dtype: int64

In [32]:
new_dataframe.wstatus.value_counts()

POP     23746
INAC    23401
ACT     23107
EMP     23041
UNE     21163
UNK       475
Name: wstatus, dtype: int64

QUE SIGNIFICA CADA UNO
POP: Población total. Esta categoría probablemente representa el número total de personas en el conjunto de datos, independientemente de su estado laboral.

INAC: Inactivos. Esta categoría podría representar a personas que no están empleadas ni buscando empleo activamente en el momento de la recopilación de datos. Esto puede incluir a personas jubiladas, estudiantes a tiempo completo, personas que cuidan del hogar, etc.

ACT: Activos. Esta categoría probablemente representa a las personas que están empleadas o que están buscando activamente empleo en el momento de la recopilación de datos. Es decir, personas en la fuerza laboral activa.

EMP: Empleados. Esta categoría puede referirse específicamente a las personas que están empleadas en el momento de la recopilación de datos.

UNE: Desempleados. Esta categoría probablemente representa a las personas que están desempleadas y que están buscando activamente empleo en el momento de la recopilación de datos.

UNK: Desconocido. Esta categoría puede ser utilizada para personas cuyo estado laboral no pudo ser determinado o no está disponible en el conjunto de datos.

In [37]:
# intentamos descargarnos los datos con la API
!pip install eurostat
import eurostat
# probamos pyeurostat y PYROSTAT pero no funciona

Requirement already satisfied: eurostat in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (1.1.0)
Requirement already satisfied: pandas in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from eurostat) (1.5.1)
Requirement already satisfied: requests in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from eurostat) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\picar\appdata\roaming\python\python39\site-packages (from pandas->eurostat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from pandas->eurostat) (2023.3.post1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from pandas->eurostat) (1.26.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from requests->eurostat) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from requests->eurostat) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from requests->eurostat) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\picar\appdata\local\programs\python\python39\lib\site-packages (from requests->eurostat) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\picar\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas->eurostat) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
# y hacemos la consulta
data = eurostat.get_data_df('lfsq_pganws')
data

,freq,unit,sex,citizen,age,wstatus,geo\TIME_PERIOD,1998-Q1,1998-Q2,1998-Q3,...,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4
0,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,NaN,NaN,NaN,...,4.9,4.8,4.8,6.1,6.0,6.0,5.1,6.1,5.1,6.1
1,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,BE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CH,NaN,15.3,NaN,...,11.2,10.9,8.3,10.2,10.3,11.6,10.7,11.2,13.1,13.0
3,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CY,NaN,NaN,NaN,...,1.1,NaN,NaN,NaN,NaN,NaN,NaN,0.8,0.7,1.1
4,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,CZ,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114929,Q,THS_PER,T,TOTAL,Y_GE75,POP,SI,NaN,88.6,NaN,...,168.7,166.3,167.0,170.7,171.7,169.2,171.6,173.9,177.9,178.5
114930,Q,THS_PER,T,TOTAL,Y_GE75,POP,SK,217.4,217.4,217.4,...,326.4,326.3,323.6,323.6,323.6,323.6,334.9,334.9,334.9,334.9
114931,Q,THS_PER,T,TOTAL,Y_GE75,POP,TR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114932,Q,THS_PER,T,TOTAL,Y_GE75,POP,UK,NaN,3900.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114933,Q,THS_PER,T,TOTAL,Y_GE75,UNK,CY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Y LUEGO CON UNA CONSULTA JSON (revisar, puede ser necesario, aunque no para eurostat, revisar ejercicio consultas api)
import requests
import pandas as pd

base_url = 'https://ec.europa.eu/eurostat/web/main/search/-/search/estatsearchportlet_WAR_estatsearchportlet_INSTANCE_bHVzuvn1SZ8J?text=lfsq_pganws'
dataset_code = 'lfsq_pganws'
filters = {
    'sex': 'TOTAL',  # Todos los sexos
    'age': 'TOTAL',  # Todas las edades
    'citizen': 'TOTAL',  # Todos los ciudadanos
    'wstatus': 'TOTAL'  # Todos los estados laborales
}

# Construir la URL de la consulta (con el codigo inicial y luego el del dataset, aunque no funciona muy bien, revisar)
url = f'{base_url}/{dataset_code}'

# Solicitud GET a la API de Eurostat, COMO EN EL DE STAR WARS, REVISAR DIFERENCIA A LA HORA DE MONTAR LA URL!!
response = requests.get(url, params=filters)
data = response.json()
df = pd.DataFrame(data['value'])
print(df.head())

JSONDecodeError: Expecting value: line 39 column 4 (char 44)