In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("estat_lfsq_pganws_en.csv")

In [3]:
df.head()

,DATAFLOW,LAST UPDATE,freq,unit,sex,citizen,age,wstatus,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:LFSQ_PGANWS(1.0),15/03/24 11:00:00,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,1998-Q1,NaN,u
1,ESTAT:LFSQ_PGANWS(1.0),15/03/24 11:00:00,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,1999-Q1,NaN,u
2,ESTAT:LFSQ_PGANWS(1.0),15/03/24 11:00:00,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,2000-Q1,NaN,u
3,ESTAT:LFSQ_PGANWS(1.0),15/03/24 11:00:00,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,2000-Q2,NaN,u
4,ESTAT:LFSQ_PGANWS(1.0),15/03/24 11:00:00,Q,THS_PER,F,EU27_2020_FOR,Y15-19,ACT,AT,2001-Q1,NaN,u

eliminamos columans inutiles

In [4]:
df = df.drop(['DATAFLOW','freq','unit','OBS_FLAG','LAST UPDATE'],axis=1)

In [5]:
df['citizen'].unique()

array(['EU27_2020_FOR', 'FOR', 'NAT', 'NEU27_2020_FOR', 'NRP', 'STLS',
       'TOTAL'], dtype=object)

In [6]:
df['age'].unique()

array(['Y15-19', 'Y15-24', 'Y15-39', 'Y15-59', 'Y15-64', 'Y15-74',
       'Y20-24', 'Y20-64', 'Y25-29', 'Y25-49', 'Y25-54', 'Y25-59',
       'Y25-64', 'Y30-34', 'Y35-39', 'Y40-44', 'Y40-59', 'Y40-64',
       'Y45-49', 'Y50-54', 'Y50-59', 'Y50-64', 'Y55-59', 'Y55-64',
       'Y60-64', 'Y65-69', 'Y70-74', 'Y_GE15', 'Y_GE25', 'Y_GE50',
       'Y_GE65', 'Y_GE75'], dtype=object)

añdimos columnas con fechas año mes y dia

In [6]:
# Función para mapear los trimestres a meses específicos
def map_quarter_to_month(quarter):
    year, q = quarter.split('-Q')
    if q == '1':
        return f"{year}-03-01"
    elif q == '2':
        return f"{year}-06-01"
    elif q == '3':
        return f"{year}-09-01"
    elif q == '4':
        return f"{year}-12-01"
    else:
        return None

# Crear la nueva columna 'year_month' basada en la columna 'TIME_PERIOD'
df['year_month'] = df['TIME_PERIOD'].apply(map_quarter_to_month)

nos quedamos con los extranjeros activos

In [7]:
df_foreigners_act = df[(df['citizen']=='FOR') & (df['wstatus']=='ACT')]
df_foreigners_act.head(10)

       sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month
378374   F     FOR  Y15-19     ACT  AT     1998-Q1        9.5  1998-03-01
378375   F     FOR  Y15-19     ACT  AT     1999-Q1        7.3  1999-03-01
378376   F     FOR  Y15-19     ACT  AT     2000-Q1        9.7  2000-03-01
378377   F     FOR  Y15-19     ACT  AT     2000-Q2        8.8  2000-06-01
378378   F     FOR  Y15-19     ACT  AT     2001-Q1        7.7  2001-03-01
378379   F     FOR  Y15-19     ACT  AT     2002-Q1        7.6  2002-03-01
378380   F     FOR  Y15-19     ACT  AT     2003-Q1        6.5  2003-03-01
378381   F     FOR  Y15-19     ACT  AT     2003-Q2        4.6  2003-06-01
378382   F     FOR  Y15-19     ACT  AT     2003-Q3        5.6  2003-09-01
378383   F     FOR  Y15-19     ACT  AT     2003-Q4        6.2  2003-12-01

y con la fecha >= 2014

In [8]:
df_foreigners_act = df_foreigners_act[df_foreigners_act['year_month'] >= '2014-01-01']

In [9]:
df_foreigners_act.head(10)

       sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month
378424   F     FOR  Y15-19     ACT  AT     2014-Q1        7.4  2014-03-01
378425   F     FOR  Y15-19     ACT  AT     2014-Q2        6.5  2014-06-01
378426   F     FOR  Y15-19     ACT  AT     2014-Q3        6.1  2014-09-01
378427   F     FOR  Y15-19     ACT  AT     2014-Q4        7.2  2014-12-01
378428   F     FOR  Y15-19     ACT  AT     2015-Q1        5.3  2015-03-01
378429   F     FOR  Y15-19     ACT  AT     2015-Q2        5.4  2015-06-01
378430   F     FOR  Y15-19     ACT  AT     2015-Q3        6.9  2015-09-01
378431   F     FOR  Y15-19     ACT  AT     2015-Q4        7.1  2015-12-01
378432   F     FOR  Y15-19     ACT  AT     2016-Q1        7.5  2016-03-01
378433   F     FOR  Y15-19     ACT  AT     2016-Q2       10.0  2016-06-01

In [11]:
countries = ['AT', 'BE', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LU', 'ME',
       'MT', 'NL', 'NO', 'PL', 'PT', 'RS', 'SE', 'SI', 'SK', 'UK', 'BA',
       'BG', 'LT', 'LV', 'MK', 'RO', 'TR']

creamos df por pais

In [12]:
# Crear un diccionario de DataFrames, uno por cada país
dfs_by_country = {}
for country in countries:
    dfs_by_country[country] = df_foreigners_act[df['geo'] == country]

C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\1307531664.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfs_by_country[country] = df_foreigners_act[df['geo'] == country]

paises con df vacio

In [13]:
# Verificar qué países tienen DataFrame vacío
paises_vacios = [pais for pais, df_pais in dfs_by_country.items() if df_pais.empty]

print("Países con DataFrame vacío:")
print(paises_vacios)

Países con DataFrame vacío:
['TR']

lo eliminamos

In [14]:
del dfs_by_country['TR']

In [15]:
# Imprimir los DataFrames por país
for country, df_country in dfs_by_country.items():
    print(f"DataFrame para el país {country}:")
    # Agrupar por 'TIME_PERIOD' y sumar 'OBS_VALUE'
    df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')

    print(df_country)

DataFrame para el país AT:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378424    F     FOR  Y15-19     ACT  AT     2014-Q1        7.4  2014-03-01
378425    F     FOR  Y15-19     ACT  AT     2014-Q2        6.5  2014-06-01
378426    F     FOR  Y15-19     ACT  AT     2014-Q3        6.1  2014-09-01
378427    F     FOR  Y15-19     ACT  AT     2014-Q4        7.2  2014-12-01
378428    F     FOR  Y15-19     ACT  AT     2015-Q1        5.3  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820222   T     FOR  Y_GE75     ACT  AT     2022-Q4        NaN  2022-12-01
5820223   T     FOR  Y_GE75     ACT  AT     2023-Q1        NaN  2023-03-01
5820224   T     FOR  Y_GE75     ACT  AT     2023-Q2        NaN  2023-06-01
5820225   T     FOR  Y_GE75     ACT  AT     2023-Q3        NaN  2023-09-01
5820226   T     FOR  Y_GE75     ACT  AT     2023-Q4        NaN  2023-12-01

         total_obs_value
378424           13462.7
378425           14122.4
378426           14519.7
378427           14489.6
378428           14451.0
...                  ...
5820222          23587.5
5820223          23706.3
5820224          24027.8
5820225          24364.5
5820226          24479.2

[3808 rows x 9 columns]
DataFrame para el país BE:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378525    F     FOR  Y15-19     ACT  BE     2014-Q1        NaN  2014-03-01
378526    F     FOR  Y15-19     ACT  BE     2014-Q2        NaN  2014-06-01
378527    F     FOR  Y15-19     ACT  BE     2014-Q3        NaN  2014-09-01
378528    F     FOR  Y15-19     ACT  BE     2014-Q4        NaN  2014-12-01
378529    F     FOR  Y15-19     ACT  BE     2015-Q1        NaN  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820273   T     FOR  Y_GE75     ACT  BE     2022-Q4        NaN  2022-12-01
5820274   T     FOR  Y_GE75     ACT  BE     2023-Q1        NaN  2023-03-01
5820275   T     FOR  Y_GE75     ACT  BE     2023-Q2        NaN  2023-06-01
5820276   T     FOR  Y_GE75     ACT  BE     2023-Q3        NaN  2023-09-01
5820277   T     FOR  Y_GE75     ACT  BE     2023-Q4        NaN  2023-12-01

         total_obs_value
378525           12295.5
378526           13521.4
378527           13180.2
378528           13318.7
378529           13797.8
...                  ...
5820273          17207.3
5820274          17492.9
5820275          15381.4
5820276          16326.5
5820277          16974.9

[3766 rows x 9 columns]
DataFrame para el país CH:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378599    F     FOR  Y15-19     ACT  CH     2014-Q1       21.5  2014-03-01
378600    F     FOR  Y15-19     ACT  CH     2014-Q2       15.7  2014-06-01
378601    F     FOR  Y15-19     ACT  CH     2014-Q3       16.6  2014-09-01
378602    F     FOR  Y15-19     ACT  CH     2014-Q4       19.8  2014-12-01
378603    F     FOR  Y15-19     ACT  CH     2015-Q1       19.2  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820344   T     FOR  Y_GE75     ACT  CH     2022-Q4        2.6  2022-12-01
5820345   T     FOR  Y_GE75     ACT  CH     2023-Q1        2.5  2023-03-01
5820346   T     FOR  Y_GE75     ACT  CH     2023-Q2        2.5  2023-06-01
5820347   T     FOR  Y_GE75     ACT  CH     2023-Q3        4.6  2023-09-01
5820348   T     FOR  Y_GE75     ACT  CH     2023-Q4        3.3  2023-12-01

         total_obs_value
378599           28538.4
378600           29004.6
378601           29284.7
378602           29808.5
378603           29735.9
...                  ...
5820344          34172.7
5820345          34518.8
5820346          34876.3
5820347          35430.4
5820348          35752.2

[3836 rows x 9 columns]
DataFrame para el país CY:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378682    F     FOR  Y15-19     ACT  CY     2014-Q1        0.6  2014-03-01
378683    F     FOR  Y15-19     ACT  CY     2014-Q2        NaN  2014-06-01
378684    F     FOR  Y15-19     ACT  CY     2014-Q3        NaN  2014-09-01
378685    F     FOR  Y15-19     ACT  CY     2014-Q4        NaN  2014-12-01
378686    F     FOR  Y15-19     ACT  CY     2015-Q1        NaN  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820381   T     FOR  Y_GE75     ACT  CY     2022-Q4        NaN  2022-12-01
5820382   T     FOR  Y_GE75     ACT  CY     2023-Q1        NaN  2023-03-01
5820383   T     FOR  Y_GE75     ACT  CY     2023-Q2        NaN  2023-06-01
5820384   T     FOR  Y_GE75     ACT  CY     2023-Q3        NaN  2023-09-01
5820385   T     FOR  Y_GE75     ACT  CY     2023-Q4        NaN  2023-12-01

         total_obs_value
378682            2142.0
378683            1970.9
378684            1908.4
378685            1889.5
378686            2000.8
...                  ...
5820381           2688.1
5820382           2778.0
5820383           2836.8
5820384           3033.0
5820385           3106.8

[3723 rows x 9 columns]
DataFrame para el país CZ:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378766    F     FOR  Y15-19     ACT  CZ     2014-Q4        NaN  2014-12-01
378767    F     FOR  Y15-19     ACT  CZ     2015-Q1        NaN  2015-03-01
378768    F     FOR  Y15-19     ACT  CZ     2015-Q2        NaN  2015-06-01
378769    F     FOR  Y15-19     ACT  CZ     2015-Q3        NaN  2015-09-01
378770    F     FOR  Y15-19     ACT  CZ     2015-Q4        1.0  2015-12-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820393   T     FOR  Y_GE75     ACT  CZ     2014-Q2        NaN  2014-06-01
5820394   T     FOR  Y_GE75     ACT  CZ     2014-Q3        NaN  2014-09-01
5820395   T     FOR  Y_GE75     ACT  CZ     2014-Q4        NaN  2014-12-01
5820396   T     FOR  Y_GE75     ACT  CZ     2022-Q4        NaN  2022-12-01
5820397   T     FOR  Y_GE75     ACT  CZ     2023-Q1        NaN  2023-03-01

         total_obs_value
378766            2507.2
378767            2660.1
378768            2874.2
378769            2800.1
378770            2795.9
...                  ...
5820393           2586.4
5820394           2475.2
5820395           2507.2
5820396           4898.2
5820397           5244.0

[3631 rows x 9 columns]
DataFrame para el país DE:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378840    F     FOR  Y15-19     ACT  DE     2014-Q1       42.9  2014-03-01
378841    F     FOR  Y15-19     ACT  DE     2014-Q2       41.1  2014-06-01
378842    F     FOR  Y15-19     ACT  DE     2014-Q3       36.7  2014-09-01
378843    F     FOR  Y15-19     ACT  DE     2014-Q4       38.1  2014-12-01
378844    F     FOR  Y15-19     ACT  DE     2015-Q1       42.4  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820472   T     FOR  Y_GE75     ACT  DE     2022-Q4        NaN  2022-12-01
5820473   T     FOR  Y_GE75     ACT  DE     2023-Q1        NaN  2023-03-01
5820474   T     FOR  Y_GE75     ACT  DE     2023-Q2        NaN  2023-06-01
5820475   T     FOR  Y_GE75     ACT  DE     2023-Q3        NaN  2023-09-01
5820476   T     FOR  Y_GE75     ACT  DE     2023-Q4        NaN  2023-12-01

         total_obs_value
378840           96234.0
378841           99071.1
378842          100688.3
378843          101900.2
378844          103852.8
...                  ...
5820472         160724.3
5820473         165631.8
5820474         168658.7
5820475         163418.6
5820476         164026.3

[3454 rows x 9 columns]
DataFrame para el país DK:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
378937    F     FOR  Y15-19     ACT  DK     2014-Q1        NaN  2014-03-01
378938    F     FOR  Y15-19     ACT  DK     2014-Q2        NaN  2014-06-01
378939    F     FOR  Y15-19     ACT  DK     2014-Q3        NaN  2014-09-01
378940    F     FOR  Y15-19     ACT  DK     2014-Q4        NaN  2014-12-01
378941    F     FOR  Y15-19     ACT  DK     2015-Q1        NaN  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5808626   T     FOR  Y_GE65     ACT  DK     2023-Q4        NaN  2023-12-01
5820478   T     FOR  Y_GE75     ACT  DK     2021-Q1        NaN  2021-03-01
5820479   T     FOR  Y_GE75     ACT  DK     2021-Q2        NaN  2021-06-01
5820480   T     FOR  Y_GE75     ACT  DK     2022-Q3        NaN  2022-09-01
5820481   T     FOR  Y_GE75     ACT  DK     2022-Q4        NaN  2022-12-01

         total_obs_value
378937            4411.3
378938            4576.1
378939            4785.3
378940            4598.6
378941            4671.3
...                  ...
5808626           6240.7
5820478           5472.7
5820479           5507.3
5820480           5727.8
5820481           5809.1

[3628 rows x 9 columns]
DataFrame para el país EE:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379083    F     FOR  Y15-19     ACT  EE     2014-Q1        NaN  2014-03-01
379084    F     FOR  Y15-19     ACT  EE     2014-Q4        NaN  2014-12-01
379085    F     FOR  Y15-19     ACT  EE     2015-Q4        NaN  2015-12-01
379086    F     FOR  Y15-19     ACT  EE     2016-Q1        NaN  2016-03-01
379087    F     FOR  Y15-19     ACT  EE     2016-Q2        NaN  2016-06-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820568   T     FOR  Y_GE75     ACT  EE     2022-Q4        NaN  2022-12-01
5820569   T     FOR  Y_GE75     ACT  EE     2023-Q1        NaN  2023-03-01
5820570   T     FOR  Y_GE75     ACT  EE     2023-Q2        NaN  2023-06-01
5820571   T     FOR  Y_GE75     ACT  EE     2023-Q3        NaN  2023-09-01
5820572   T     FOR  Y_GE75     ACT  EE     2023-Q4        NaN  2023-12-01

         total_obs_value
379083            2356.1
379084            2600.8
379085            2605.1
379086            2402.5
379087            2516.8
...                  ...
5820568           2649.2
5820569           2668.8
5820570           2828.0
5820571           2987.7
5820572           2796.0

[3711 rows x 9 columns]
DataFrame para el país EL:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379177    F     FOR  Y15-19     ACT  EL     2014-Q1        3.9  2014-03-01
379178    F     FOR  Y15-19     ACT  EL     2014-Q2        3.7  2014-06-01
379179    F     FOR  Y15-19     ACT  EL     2014-Q3        3.0  2014-09-01
379180    F     FOR  Y15-19     ACT  EL     2014-Q4        2.5  2014-12-01
379181    F     FOR  Y15-19     ACT  EL     2015-Q1        2.2  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820589   T     FOR  Y_GE75     ACT  EL     2019-Q2        NaN  2019-06-01
5820590   T     FOR  Y_GE75     ACT  EL     2019-Q3        NaN  2019-09-01
5820591   T     FOR  Y_GE75     ACT  EL     2019-Q4        NaN  2019-12-01
5820592   T     FOR  Y_GE75     ACT  EL     2023-Q3        NaN  2023-09-01
5820593   T     FOR  Y_GE75     ACT  EL     2023-Q4        NaN  2023-12-01

         total_obs_value
379177            9941.7
379178           10027.4
379179            9979.9
379180            9415.1
379181            9051.5
...                  ...
5820589           7524.3
5820590           8006.9
5820591           7799.6
5820592           5219.9
5820593           4296.8

[3724 rows x 9 columns]
DataFrame para el país ES:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379281    F     FOR  Y15-19     ACT  ES     2014-Q1       24.7  2014-03-01
379282    F     FOR  Y15-19     ACT  ES     2014-Q2       23.9  2014-06-01
379283    F     FOR  Y15-19     ACT  ES     2014-Q3       22.3  2014-09-01
379284    F     FOR  Y15-19     ACT  ES     2014-Q4       23.8  2014-12-01
379285    F     FOR  Y15-19     ACT  ES     2015-Q1       17.5  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820646   T     FOR  Y_GE75     ACT  ES     2022-Q4        NaN  2022-12-01
5820647   T     FOR  Y_GE75     ACT  ES     2023-Q1        4.4  2023-03-01
5820648   T     FOR  Y_GE75     ACT  ES     2023-Q2        5.4  2023-06-01
5820649   T     FOR  Y_GE75     ACT  ES     2023-Q3        3.7  2023-09-01
5820650   T     FOR  Y_GE75     ACT  ES     2023-Q4        NaN  2023-12-01

         total_obs_value
379281           69558.4
379282           69449.7
379283           67898.6
379284           68115.3
379285           67679.4
...                  ...
5820646          81875.5
5820647          84074.0
5820648          85272.7
5820649          88700.9
5820650          90876.4

[3782 rows x 9 columns]
DataFrame para el país FI:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379464    F     FOR  Y15-19     ACT  FI     2014-Q1        NaN  2014-03-01
379465    F     FOR  Y15-19     ACT  FI     2014-Q2        NaN  2014-06-01
379466    F     FOR  Y15-19     ACT  FI     2014-Q3        NaN  2014-09-01
379467    F     FOR  Y15-19     ACT  FI     2014-Q4        NaN  2014-12-01
379468    F     FOR  Y15-19     ACT  FI     2015-Q1        NaN  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820730   T     FOR  Y_GE75     ACT  FI     2021-Q1        NaN  2021-03-01
5820731   T     FOR  Y_GE75     ACT  FI     2021-Q3        NaN  2021-09-01
5820732   T     FOR  Y_GE75     ACT  FI     2021-Q4        NaN  2021-12-01
5820733   T     FOR  Y_GE75     ACT  FI     2022-Q2        NaN  2022-06-01
5820734   T     FOR  Y_GE75     ACT  FI     2022-Q3        NaN  2022-09-01

         total_obs_value
379464            2106.7
379465            2253.7
379466            2152.2
379467            2097.9
379468            2212.4
...                  ...
5820730           3391.5
5820731           3943.5
5820732           3841.2
5820733           4009.1
5820734           4442.4

[3618 rows x 9 columns]
DataFrame para el país FR:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379551    F     FOR  Y15-19     ACT  FR     2014-Q1        NaN  2014-03-01
379552    F     FOR  Y15-19     ACT  FR     2014-Q2        NaN  2014-06-01
379553    F     FOR  Y15-19     ACT  FR     2014-Q3        NaN  2014-09-01
379554    F     FOR  Y15-19     ACT  FR     2014-Q4        NaN  2014-12-01
379555    F     FOR  Y15-19     ACT  FR     2015-Q1        NaN  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820810   T     FOR  Y_GE75     ACT  FR     2022-Q4        NaN  2022-12-01
5820811   T     FOR  Y_GE75     ACT  FR     2023-Q1        NaN  2023-03-01
5820812   T     FOR  Y_GE75     ACT  FR     2023-Q2        NaN  2023-06-01
5820813   T     FOR  Y_GE75     ACT  FR     2023-Q3        NaN  2023-09-01
5820814   T     FOR  Y_GE75     ACT  FR     2023-Q4        NaN  2023-12-01

         total_obs_value
379551           44029.3
379552           44157.3
379553           42533.3
379554           45055.3
379555           45888.5
...                  ...
5820810          57432.3
5820811          57471.6
5820812          58193.3
5820813          58719.6
5820814          60090.7

[3818 rows x 9 columns]
DataFrame para el país HR:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379597    F     FOR  Y15-19     ACT  HR     2019-Q1        NaN  2019-03-01
379598    F     FOR  Y15-19     ACT  HR     2019-Q2        NaN  2019-06-01
391367    F     FOR  Y15-24     ACT  HR     2016-Q2        NaN  2016-06-01
391368    F     FOR  Y15-24     ACT  HR     2018-Q3        NaN  2018-09-01
391369    F     FOR  Y15-24     ACT  HR     2018-Q4        NaN  2018-12-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5809283   T     FOR  Y_GE65     ACT  HR     2019-Q1        NaN  2019-03-01
5809284   T     FOR  Y_GE65     ACT  HR     2019-Q2        NaN  2019-06-01
5809285   T     FOR  Y_GE65     ACT  HR     2020-Q1        NaN  2020-03-01
5809286   T     FOR  Y_GE65     ACT  HR     2020-Q2        NaN  2020-06-01
5820815   T     FOR  Y_GE75     ACT  HR     2020-Q2        NaN  2020-06-01

         total_obs_value
379597             213.3
379598             101.4
391367               0.0
391368              51.9
391369             127.2
...                  ...
5809283            213.3
5809284            101.4
5809285              0.0
5809286             49.9
5820815             49.9

[2481 rows x 9 columns]
DataFrame para el país HU:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379629    F     FOR  Y15-19     ACT  HU     2016-Q4        NaN  2016-12-01
379630    F     FOR  Y15-19     ACT  HU     2017-Q1        NaN  2017-03-01
379631    F     FOR  Y15-19     ACT  HU     2017-Q2        NaN  2017-06-01
379632    F     FOR  Y15-19     ACT  HU     2017-Q3        NaN  2017-09-01
379633    F     FOR  Y15-19     ACT  HU     2023-Q2        NaN  2023-06-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820816   T     FOR  Y_GE75     ACT  HU     2022-Q4        NaN  2022-12-01
5820817   T     FOR  Y_GE75     ACT  HU     2023-Q1        NaN  2023-03-01
5820818   T     FOR  Y_GE75     ACT  HU     2023-Q2        NaN  2023-06-01
5820819   T     FOR  Y_GE75     ACT  HU     2023-Q3        NaN  2023-09-01
5820820   T     FOR  Y_GE75     ACT  HU     2023-Q4        NaN  2023-12-01

         total_obs_value
379629             728.7
379630             611.7
379631             595.8
379632             420.4
379633            1013.5
...                  ...
5820816            959.6
5820817           1093.9
5820818           1013.5
5820819            880.6
5820820            877.5

[3420 rows x 9 columns]
DataFrame para el país IE:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379690    F     FOR  Y15-19     ACT  IE     2014-Q1        NaN  2014-03-01
379691    F     FOR  Y15-19     ACT  IE     2014-Q2        2.5  2014-06-01
379692    F     FOR  Y15-19     ACT  IE     2014-Q3        NaN  2014-09-01
379693    F     FOR  Y15-19     ACT  IE     2014-Q4        NaN  2014-12-01
379694    F     FOR  Y15-19     ACT  IE     2015-Q1        NaN  2015-03-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5820887   T     FOR  Y_GE75     ACT  IE     2022-Q4        NaN  2022-12-01
5820888   T     FOR  Y_GE75     ACT  IE     2023-Q1        NaN  2023-03-01
5820889   T     FOR  Y_GE75     ACT  IE     2023-Q2        NaN  2023-06-01
5820890   T     FOR  Y_GE75     ACT  IE     2023-Q3        NaN  2023-09-01
5820891   T     FOR  Y_GE75     ACT  IE     2023-Q4        NaN  2023-12-01

         total_obs_value
379690            7854.8
379691            7888.3
379692            7887.9
379693            7763.6
379694            7692.0
...                  ...
5820887          12612.3
5820888          13030.7
5820889          13491.6
5820890          13656.5
5820891          13654.5

[3783 rows x 9 columns]
DataFrame para el país IS:
        sex citizen     age wstatus geo TIME_PERIOD  OBS_VALUE  year_month  \
379775    F     FOR  Y15-19     ACT  IS     2014-Q1        NaN  2014-03-01
379776    F     FOR  Y15-19     ACT  IS     2014-Q2        NaN  2014-06-01
379777    F     FOR  Y15-19     ACT  IS     2014-Q3        NaN  2014-09-01
379778    F     FOR  Y15-19     ACT  IS     2014-Q4        NaN  2014-12-01
379779    F     FOR  Y15-19     ACT  IS     2015-Q2        NaN  2015-06-01
...      ..     ...     ...     ...  ..         ...        ...         ...
5809494   T     FOR  Y_GE65     ACT  IS     2022-Q4        NaN  2022-12-01
5809495   T     FOR  Y_GE65     ACT  IS     2023-Q1        NaN  2023-03-01
5809496   T     FOR  Y_GE65     ACT  IS     2023-Q2        NaN  2023-06-01
5809497   T     FOR  Y_GE65     ACT  IS     2023-Q3        NaN  2023-09-01
5809498   T     FOR  Y_GE65     ACT  IS     2023-Q4        NaN  2023-12-01

         total_obs_value
379775             253.5
379776             211.9
379777             216.9
379778             251.0
379779             215.9
...                  ...
5809494            699.2
5809495            570.2

C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')
C:\Users\ricar\AppData\Local\Temp\ipykernel_20756\247368248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['total_obs_value'] = df_country.groupby('year_month')['OBS_VALUE'].transform('sum')

salvamos los dfs en csv

In [16]:
if not os.path.exists("data"):
    os.makedirs("data")

# Iterar sobre las claves y valores del diccionario
for pais, df_pais in dfs_by_country.items():
    # Generar el nombre del archivo CSV
    nombre_archivo = f"data/foreigner_act_{pais}.csv"
    # Guardar el DataFrame como un archivo CSV
    df_pais.to_csv(nombre_archivo, index=False)